u.fixed-top
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-theme
        //- Branding
        a.navbar-brand(href="/")
            | My Navigation App
        //-collapse button
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#MainNavbar")
            span.navbar-toggler-icon
        //- Navbar
        .collapse.navbar-collapse(id="MainNavbar")
            ul.navbar-nav
                li.nav-item(class=( title == 'Page 1')?"active":"")
                    a.nav-link(href="/page1"  )
                        i.fa.fa-fw.fa-home
                        span.nav-link-text
                            | Page 1 
                li.nav-item.dropdown(class=( title == 'Subpage 2-1'|| title == 'Subpage 2-2' )?"active":"")
                    a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
                        i.fa.fa-fw.fa-user
                        span.nav-link-text
                            | Subpages 2
                    .dropdown-menu.dropdown-submenu
                        a.dropdown-item(href="/page21")
                            i.fa.fa-fw.fa-plus
                            span.nav-link-text
                                | Subpage 2-1
                        a.dropdown-item(href="/page22")
                            i.fa.fa-fw.fa-tasks
                            span.nav-link-text
                                | Subpage 2-2
                li.nav-item(class=( title == 'Page 3')?"active":"")
                    a.nav-link(href="/page3")
                        i.fa.fa-fw.fa-user-md
                        span.nav-link-text
                            | Page 3
                li.nav-item(class=( title == 'Page 4')?"active":"")
                    a.nav-link(href="/page4")
                        i.fa.fa-fw.fa-area-chart
                        span.nav-link-text
                            | Page 4